!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http:{ equiv: 'Content-Type' } }
  %head
  %body
    %h3= "Hi, #{@user.firstname} #{@user.lastname}!"
    %p You have successfully created new Order!
    %p 
      To see details, just follow this link: 
      = link_to @url, @url