= form_for :order, url: {action: "assign_driver"}, html: { method: :put }, remote: true do |f|
  %fieldset
    %legend Assign Driver
    = f.hidden_field :status, value: 'pending'
    = f.select(:driver_id, drivers.map { |d| [d.firstname + ' ' + d.lastname, d.id]  })
    = f.submit "Assign Driver", class: 'button tiny round'