$("#order_#{@order.id}_status").html('Confirmed');
$("#order_#{@order.id}_add_driver").html("#{escape_javascript(button_to 'Close Order', order_close_path(@order), method: :put, class: 'button tiny round success', remote: true)}");