- if can? :assign_driver, Order
  $(".index_table").html("#{ escape_javascript(render partial: 'dispatcher_index', locals: { orders: @orders, orders_status: @orders_status }) }")
- elsif can? :confirm, Order 
  $(".index_table").html("#{ escape_javascript(render partial: 'driver_index', locals: { orders: @orders, orders_status: @orders_status }) }")